<p>from-event works!</p>
<div class="my-3">
    <h2>FromEvent</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">add video</div>
                <div class="card-body">
                    <button #addbtn class="btn btn-primary">
                        add
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">List</div>
                <div class="card-body">
                   <ul id="element"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">List1</div>
                <div class="card-body">
                   <ul id="element1"></ul>
                </div>
            </div>
        </div>

    </div>
</div>
