/* ul.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.list.li{
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 7px 13 px;
    margin-bottom: 10 px;
} */
 /* ul.list.completed li{
    color: #d83131;
} */