.service{
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}
.div{
    background-color: rgb(49, 35, 99);
    margin-top: 60px;
    
}
.logo{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    border-radius: 100%;
}
.nav-item{
    margin-right: 50px;
    margin-left: 50px;
}
