<p>concat works!</p>
<div class="my-3">
    <h2>Concat and Merge</h2>
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <strong>source 1</strong>
            <hr>
            <p>source1 list: 1,2,3,4,5</p>
        </div>
        <div class="col-md-4">
            <strong>source 2</strong>
            <hr>
            <p>source2 list: 1,2,3,4</p>
        </div>
        <div class="col-md-4">
            <strong>source 3</strong>
            <hr>
            <p>source3 list: 1,2,3</p>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">all data</div>
                    <div class="card-body">
                        <ul id="element"></ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
