<p>observable works!</p>
<div class="a mx-3">
    <a routerLink="/fromevent">FromEvent</a><br>
    <a routerLink="/interval">Interval</a><br>
    <a routerLink="/offrom">Of-From</a><br>
    <a routerLink="/toarray">ToArray</a><br>
    <a routerLink="/custom">Custom Observable</a><br>
    <a routerLink="/map">Map</a><br>
    <a routerLink="/pluck">Pluck</a><br>
    <a routerLink="/filter">Filter</a><br>
    <a routerLink="/retry">Retry</a><br>
    <a routerLink="/debounce">DebounceDistinct</a><br>
    <a routerLink="/subject">Subject</a><br>
    <a routerLink="/replaysubject">ReplaySubject</a><br>
    <a routerLink="/concat">Concat</a><br>
    <a routerLink="/mergemap">MergeMap</a><br>
    <a routerLink="/switchmap">SwitchMap</a><br>



</div>
