<p>mergemap works!</p>
<p>concat works!</p>
<div class="my-3">
    <h2>Concat and Merge</h2>
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <strong>map</strong>
            <hr>
            <p>source1 list: ['red','green','blue']</p>
            <hr>
            <ul id="element"></ul>
        </div>
        <div class="col-md-4">
            <strong>map + mergeAll</strong>
            <hr>
            <p>source2 list:['red','green','blue']</p>
            <hr>
            <ul id="element1"></ul>
        </div>
        <div class="col-md-4">
            <strong>mergeMap</strong>
            <hr>
            <p>source3 list:['red','green','blue']</p>
            <hr>
            <ul id="element2"></ul>
        </div>
        

    </div>
</div>
