<p>of-from works!</p>
<div class="my-3">
    <h2>Of and From</h2>
    <br>
    <strong>ex-01 (OF)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="border px-3">
                <Strong>Data:</Strong>Of('Buddha','Kumar','Rai')
            </p>
            <hr>
            <ul id="element"></ul>
        </div>
        <div class="col-md-6">
            <p class="border px-3">
                <Strong>Data:</Strong>Of(&#123;'a:Buddha',b:'Kumar',c:'Rai'&#125;)
            </p>
            <hr>
            <ul>
                <li><strong>x:</strong>{{message.x}}</li>
                <li><strong>y:</strong>{{message.y}}</li>
                <li><strong>z:</strong>{{message.z}}</li>
            </ul>
            <ul id="element"></ul>
        </div>
    </div>

    <strong>ex-02 (From)</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <p class="border px-3">
                <Strong>Data:</Strong>From(['Buddha','Kumar','Rai'])
            </p>
            <hr>
            <ul id="element1"></ul>
        </div>

        <div class="col-md-4">
            <strong>Promise</strong>
            <hr>
            <p class="border px-3">
                <Strong>Data:</Strong>Promise to observable
            </p>
            <hr>
            <ul id="element2"></ul>
        </div>
        <div class="col-md-4">
            <strong>String</strong>
            <hr>
            <p class="border px-3">
                <Strong>Data:</Strong>String to observable
            </p>
            <hr>
            <ul id="element3"></ul>
        </div>
    </div>
</div>