.btn{
    margin-right: 15px;
}
.btns{
    margin-right: 15px;
}
#i{
    margin-left: -10px;
}
.aa{
    height: 635px;
    background-color: rgb(34, 32, 32);
}
.heading{
    color: rebeccapurple;
}
.form-group{
    color: white;
}
.header{
    color: white;
}