<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <img src="../../assets/image/logo.png" class="logo">
  <a class="navbar-brand " href="#">AppointmentScheduler</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="service">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="about">About</a>
      </li>
    </ul>
  </div>
  <li class="loginbutton">
    <a class="btn btn-primary" routerLink="login">LogIn </a>
  </li>
</nav>
<div class="coverpic"><br>
  <p class="para">Schedule Your Appointment Through Online</p>
  <img src="../../assets/image/img10.jpg" width="200" height="200" class="img1">
  <img src="../../assets/image/img2.jpg" width="200" height="200" class="img2">
  <img src="../../assets/image/img3.jpg" width="200" height="200" class="img3">
  <img src="../../assets/image/img4.jpg" width="200" height="200" class="img4">
  <p class="p1"> Get Your Appointment Done in Fraction of Time and Save Your Time!</p>
</div>